// $main-font: 'Poppins', sans-serif;
$main-font: 'Montserrat', sans-serif;

$dark: #0d1828;
$padding-layout: 0 20px;
$font-color: #868b97;
$main-font-color: #242c39ec;

body {
   font-family: $main-font;
   background: #a0bff8;
   background: linear-gradient(
      195deg,
      rgba(160, 191, 248, 1) 0%,
      rgba(201, 209, 248, 1) 50%,
      rgba(211, 196, 183, 1) 100%
   );
   min-height: 100vh;
}
.container {
   border: 1px solid red;

   margin: 0 auto;
   width: 100%;
   min-height: 100vh;
   max-width: 1440px;
   display: flex;
   flex-direction: column;
   position: relative;
   header {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 2px solid rgba(255, 255, 255, 0.3);

      margin: 20px;
      // border: 1px solid red;
      padding: 15px 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;

      .logo {
         color: blue;
         font-size: 20px;
         font-weight: bolder;
      }
      .location {
         display: flex;
         align-items: center;
         gap: 5px;

         .bi {
            // font-weight: lighter;
            // color: rgba(0, 0, 0, 0.596);
            font-size: 20px;
         }
         .city {
            text-transform: capitalize;
         }
      }
      form {
         display: flex;
         background-color: transparent;
         // flex: auto;
         // border: 1px solid rgba(0, 0, 0, 0.281);
         border: 2px solid rgba(255, 255, 255, 0.555);

         border-radius: 9px;
         flex: 1;
         #search-city {
            background-color: transparent;
            border: none;
            padding: 5px;
            width: 100%;

            &:focus {
               -webkit-appearance: none;
               appearance: none;
               outline: none;
            }
         }
         button {
            padding: 0 10px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;

            .bi {
               font-weight: bold;
            }
         }
      }

      .clickers {
         display: flex;
         align-content: center;
         gap: 30px;
         // justify-content: space-between;
         .bi {
            cursor: pointer;
            font-weight: lighter;
            font-size: 20px;
            // color: red;
         }
      }
      .profile {
         display: flex;
         align-items: center;
         flex-shrink: 0;
         gap: 8px;
         .profile-pic {
            border-radius: 50px;
            height: 40px;
            width: 40px;
            background-color: red;
            overflow: hidden;

            img {
               // height: 20px;
            }
         }
      }
   }

   .content {
      position: relative;
      border: 1px solid red;
      padding: $padding-layout;
      display: flex;
      flex: 1;
      gap: 20px;

      // border: 1px solid red;
      .weather-now {
         flex: 1.3;

         display: flex;
         height: 100%;
         flex-direction: column;
         row-gap: 20px;
         border: 1px solid green;

         .current-weather {
            padding: 20px 15px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 2px solid rgba(255, 255, 255, 0.3);

            display: flex;
            flex-direction: column;
            color: $main-font-color;
            // justify-content: center;
            // gap: 20px;
            .top {
               color: #0d1828;
               font-size: smaller;
               .group {
                  display: flex;
                  justify-content: space-between;
               }
               select {
                  border: none;
                  display: flex;
                  background-color: inherit;
               }
            }

            .weatherStat {
               align-items: end;
               display: flex;
               justify-content: center;
               align-items: center;

               gap: 20px;
               position: relative;

               .temp {
                  margin-top: -20px;
                  position: relative;
                  padding: 0;
                  justify-self: center;
                  display: flex;
                  grid-column: 1/3;
                  align-content: flex-end;
                  // border: 1px solid red;

                  .current-temp {
                     font-size: 100px;
                  }
                  .temp-scales {
                     padding-top: 25px;
                     color: $font-color;
                     font-size: 40px;
                  }
               }
            }
            .stat-feel {
               position: relative;
               display: flex;
               justify-content: center;
               align-items: center;
               // border: 1px solid red;

               // margin-top: -20px;

               img {
                  opacity: 0.9;
                  position: absolute;
                  margin-right: 200px;
                  width: 60px;
               }
               .group {
                  .status {
                     font-weight: bold;
                  }

                  .feels {
                     font-size: smaller;
                  }
               }
            }
         }

         .statuses {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            .condition {
               background: rgba(255, 255, 255, 0.2);
               border-radius: 16px;
               box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
               backdrop-filter: blur(5px);
               -webkit-backdrop-filter: blur(5px);
               border: 2px solid rgba(255, 255, 255, 0.3);

               display: flex;
               gap: 10px;
               padding: 20px 15px;

               .title {
                  font-size: smaller;
               }
               .status {
                  font-weight: bold;
                  font-size: 18px;
               }
            }
         }
         .sun-moon {
            border-radius: 16px;
            padding: 20px 15px;
            background: rgba(255, 255, 255, 0.2);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 2px solid rgba(255, 255, 255, 0.3);

            // flex: 1;
            display: flex;
            flex-direction: column;
            .top {
               // border: 1px solid red;
               text-align: center;

               & > :first-child {
                  font-size: 20px;
                  font-weight: bold;
               }
            }
            .bottom {
               display: flex;
               gap: 50px;
               .sunrise,
               .sunset {
                  text-align: center;
                  flex: 1;
                  > span {
                     font-size: 20px;
                     font-weight: bold;
                  }
                  img {
                     width: 60px;
                     opacity: 0.8;
                     margin: 0 auto;
                  }
                  .time {
                     font-weight: bold;
                     font-size: 20px;
                  }
                  .type {
                     font-size: 15px;
                     opacity: 0.6;
                  }
                  p {
                     margin-top: 5px;
                     font-size: 15px;
                  }
               }
            }
         }
      }

      .nextDays {
         border-radius: 16px;
         padding: 20px 15px;
         background: rgba(255, 255, 255, 0.2);
         box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
         backdrop-filter: blur(5px);
         -webkit-backdrop-filter: blur(5px);
         border: 2px solid rgba(255, 255, 255, 0.3);
         flex: 1;
         display: flex;
         flex-direction: column;
         // border: 1px solid red;

         .top {
            margin-bottom: 2px;
            button {
               font-size: smaller;
               background-color: transparent;
               padding: 0;
               border: none;
               border-bottom: 2px solid transparent;
               margin-left: 20px;
               cursor: pointer;

               &.selected {
                  border-bottom: 2px solid rgba(0, 0, 0, 0.568);
               }
               &:hover {
                  border-bottom: 2px solid rgba(0, 0, 0, 0.13);
               }
            }
            margin-bottom: 20px;
         }
         .daysTemp {
            overflow-y: auto;
            scroll-behavior: smooth;

            &::-webkit-scrollbar {
               width: 6px;
               display: none;
            }

            &::-webkit-scrollbar-track {
               background: none;
            }

            &::-webkit-scrollbar-thumb {
               background: rgb(51, 41, 41);
               border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb:hover {
               background: #833c3c;
            }
            .days {
               border-bottom: 2px solid rgba(104, 104, 104, 0.034);
               flex: 1;
               padding: 20px;
               // border: 1px solid red;
               display: flex;
               // gap: 40px;

               .left {
                  flex: 1;
                  white-space: nowrap;
                  display: flex;
                  align-items: center;
                  // justify-items: center;
                  gap: 10px;
                  font-size: smaller;
                  img {
                     width: 60px;
                  }
                  .report {
                     width: 100%;
                     border-right: 2px solid rgba(104, 104, 104, 0.192);

                     .condition {
                        // color: red;
                        font-weight: bold;
                     }
                  }
               }
               .right {
                  flex: 1;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  // gap: 20px;

                  .temp {
                     // border: 1px solid yellow;
                     // padding-left: 15px;
                     display: flex;
                     justify-content: center;
                     flex: 1;
                     display: flex;
                     line-height: 0.8;

                     // color: red;
                     .current-temp {
                        font-size: 35px;
                     }
                     .temp-scales {
                        font-size: smaller;
                     }
                  }
                  .wind-humidity {
                     // border: 1px solid blue;
                     flex: 1;
                     text-wrap: nowrap;
                     font-size: smaller;
                  }
               }
            }
         }
      }
   }
}
